<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projeto01</title>
</head>
<body ng-app="Projeto01"><!-- assossiação do angular com o projeto etapa 01 -->
<style>
    li {
        list-style: none;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<!-- assossiação do angular com o projeto etapa 02 -->
<script src=js/app.js></script><!-- vincula o html com o script app.js -->
<script src=js/controller.js></script><!-- vincula o html com o script controller.js -->

<div ng-controller="ListController"><!-- declaracao do controller ListController na div -->
    <form ng-submit="addDescricao()">

        <input type="checkbox" ng-model="checkedAll" ng-click="selectAllDescricao">
        <input type="text" ng-model="descricao">
        <!-- ng-model grava a variavel digitada na variavel descricao -->

        <p>Lista de afazeres:</p>
            <u ng-controller="EditController">
                <li ng-repeat="l in list">
        <p ng-dblclick="editDescricao()"><input type="checkbox" ng-checked="checkedAll">{{l}}</p>
        </li>
        </u>
    <input type="button" ng-click="deleteDescricao" value="Limpar">
    </form>
</div>

</body>
</html>